services:
  postgres:
    image: postgres:16-alpine
    container_name: tts_postgres
    environment:
      POSTGRES_DB: video_narrator
      POSTGRES_USER: tts_user
      POSTGRES_PASSWORD: quinteropo
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U tts_user -d video_narrator" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local
