fastapi
uvicorn
python-dotenv
python-multipart
google-generativeai
elevenlabs
moviepy
pydantic
scipy
asyncpg
sqlalchemy[asyncio]
pyjwt
bcrypt
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
httpx
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
boto3