fastapi
uvicorn
python-dotenv
python-multipart
google-generativeai
elevenlabs
moviepy
pydantic
scipy
asyncpg
sqlalchemy[asyncio]
pyjwt
bcrypt
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
boto3